.userDropdown {
  display: none;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-right: 5px; /* Adjust spacing as needed */
}

.logo:hover {
  transform: rotate(360deg);
}




.phone-number {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  padding-bottom: 25px;
  padding-right: 10px;
  font-weight: 390;
}

.phone-number i {
  margin-right: 8px;
  font-size: 18px;
  color: #007bff;
}

.phone-number span {
  padding-left: 10px;
  margin-right: 8px;
  font-size: 16px;
  color: #333;
}
.phone-number span a{
  color: #333;
}

.phone-number .phone-image {
  width: 24px;
  height: 24px;
}

