.userDropdown {
  display: none;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-right: 5px; /* Adjust spacing as needed */
}

.logo:hover {
  transform: rotate(360deg);
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  padding-bottom: 25px;
  padding-right: 10px;
  font-weight: 390;
}

.phone-number i {
  margin-right: 8px;
  font-size: 18px;
  color: #007bff;
}

.phone-number span {
  padding-left: 10px;
  margin-right: 8px;
  font-size: 16px;
  color: #333;
}

.phone-number span a {
  color: #333;
}

.phone-number .phone-image {
  width: 24px;
  height: 24px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .logo {
    width: 40px; /* Smaller size for mobile */
    margin-right: 3px; /* Adjust spacing for mobile */
  }

  .phone-number {
    font-size: 14px; /* Smaller font size for mobile */
    padding-bottom: 15px; /* Adjust padding for mobile */
    padding-right: 5px; /* Adjust padding for mobile */
  }

  .phone-number i {
    margin-right: 6px; /* Adjust margin for mobile */
    font-size: 16px; /* Adjust icon size for mobile */
  }

  .phone-number span {
    padding-left: 5px; /* Adjust padding for mobile */
    margin-right: 6px; /* Adjust margin for mobile */
    font-size: 14px; /* Adjust font size for mobile */
  }

  .phone-number .phone-image {
    width: 20px; /* Smaller image size for mobile */
    height: 20px; /* Smaller image size for mobile */
  }
}

/* style.css */

.category-dropdown {
  display: flex;
  flex-direction: column;
}

.category-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-item:hover {
  background-color: #f0f0f0;
}

/* Adjust other styles as needed */
